<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/yrg/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>动态页面</p>
    <img src="/yrg/imgs/ercode.png"></img>
    <pre>
      Hello! welcome to yirenge.

      伊人阁地址：恩施舞阳坝国泰2楼伊人阁
    
      联系方式：
      手机：15172829949， QQ：648891158，微信：648891158
    
      简介：专业从事时装设计，定制，展示，销售服务，是一家专业从事服装，时装的公司，期待您的光临。
    </pre>
  </body>
</html>
